@charset "UTF-8";
/* -------------------- TABLE
*   - VARIABLES
*   - GLOBAL
*   - CLASSES GLOBALES
*   - TYPOGRAPHIE
*   - HEADER
*   - MENU BAR
*   -- Burger
*   - MAIN
*   -- Timeline
*   - CAROUSEL
*   - FOOTER
*   - ANIMATION
*/
/*
---------------------------------------------------------------------------- VARIABLES
*/
:root {
  --fondPage:hsl(45, 21%, 93%);
  --bleuBase: hsl(206, 100%, 75%);
  --bleuLight: hsl(193, 100%, 91%);
  --bleu1: hsl(205, 59%, 57%);
  --bleu2: hsl(201, 76%, 37%);
  --bleuDark: hsl(203, 100%, 25%);
  --grisLight: hsl(211, 19%, 68%);
  --grisDark: hsl(210, 19%, 28%);
  --vertLight: hsl(171, 33%, 89%);
  --vertDark: hsl(173, 43%, 38%);
  --pruneLight: hsl(306, 30%, 48%);
  --pruneDark: hsl(326, 49%, 42%);
  --degMetal1: linear-gradient(75deg, var(--grisDark) var(--grisLight) 40%, var(--bleuLight) 60%, var(--grisDark));
  --degMetal1: linear-gradient(-90deg, var(--grisDark) var(--grisLight) 40%, var(--bleuLight) 60%, var(--grisDark));
  --rebond: cubic-bezier(.33, 0, .7, 1.5);
}

/*
---------------------------------------------------------------------------- GLOBAL
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--fondPage);
}

img {
  display: block;
  max-width: 100%;
}

ul,
nav ul {
  list-style-type: none;
}

ul a {
  text-decoration: none;
  display: inline-block;
}

video {
  max-width: 100%;
  height: auto;
}

/* Liens externes */
a[rel*=external]::after {
  content: "";
  display: inline-block;
  width: 1em;
  margin-left: 0.4em;
  font-family: "fontello";
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  vertical-align: middle;
  color: inherit;
  opacity: 0.6;
}

/*
---------------------------------------------------------------------- CLASSES GLOBALES
*/
.fluid {
  width: 100%;
  max-width: 1400px;
}

.smallCaps {
  font-variant: small-caps;
}

/*
---------------------------------------------------------------------------- TYPOGRAPHIE
*/
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 125;
}

h1,
h2 {
  font-family: "Righteous", sans-serif;
}

#menu nav a {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}

section h1 {
  font-size: 1.8em;
  line-height: 1;
  margin-bottom: 0.4em;
}
section:nth-of-type(2n) h1 {
  color: var(--vertDark);
  text-align: right;
}
section:nth-of-type(2n +1) h1 {
  color: var(--bleuDark);
}
section p {
  font-weight: 200;
  line-height: 1.4;
  font-size: 1em;
  color: var(--grisDark);
}

.topic h2 {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 1em;
}
.topic p {
  font-size: 0.8em;
  color: white;
}

footer h2 {
  font-family: "Work Sans";
  font-style: oblique;
  font-weight: 400;
  font-size: 1.2em;
}
footer nav a {
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

/*
---------------------------------------------------------------------------- HEADER
*/
header {
  width: 100%;
  height: auto;
  position: relative;
}

header picture img,
main picture img {
  object-fit: cover;
  width: 100%;
  height: inherit;
}

.hero {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  mix-blend-mode: screen;
  text-align: center;
  text-transform: uppercase;
}

.hero h1 {
  font-size: 2em;
  line-height: 1;
}

.hero h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.95em;
  line-height: 0.8;
  font-weight: 300;
}

/*
---------------------------------------------------------------------------- MENU BAR
*/
#menu {
  position: sticky;
  width: 100%;
  height: auto;
  top: 0;
  text-align: center;
  z-index: 999;
}

#menu nav {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  background: var(--vertDark);
  width: 100%;
  height: auto;
  transform: scale(0, 1);
  transform-origin: right;
  transition: transform 400ms ease-in-out;
}

nav ul {
  /* disposition menu items */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 5.2em;
}

#menu nav li {
  margin: 1em;
}

#menu nav a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

/*  -------------------------------------------------------------- Burger */
.nav-toggle {
  position: absolute;
  top: 0;
  left: -100%;
}

.nav-toggle-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 3.2em;
  height: 3.2em;
  margin: 1em 1em 0 0;
  border-radius: 1.6em;
  background: var(--vertDark);
}

.nav-toggle-label:hover {
  cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  position: relative;
  display: block;
  height: 4px;
  width: 2em;
  background: white;
  border-radius: 2px;
  transition: transform 400ms var(--rebond);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 10px;
}

.nav-toggle-label span::after {
  top: 10px;
}

#menu .nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

#menu .nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* animation burger */
#menu .nav-toggle:checked ~ .nav-toggle-label span {
  transform: rotate(45deg);
}

#menu .nav-toggle:checked ~ .nav-toggle-label span::before {
  transform: rotate(90deg) translate(10px);
}

#menu .nav-toggle:checked ~ .nav-toggle-label span::after {
  transform: rotate(90deg) translate(-10px);
}

/*
---------------------------------------------------------------------------- MAIN
*/
.contenu {
  background-color: white;
}

section {
  position: relative;
  padding: 8em 10vw;
}

section::after {
  content: "";
  display: block;
  position: absolute;
  height: 40px;
  width: 100%;
  left: 0;
  z-index: 10;
  transform-origin: bottom left;
}

section:nth-of-type(2n),
section:nth-of-type(2n)::after {
  background: var(--vertLight);
}

section:nth-of-type(2n)::after {
  transform: skew(-1deg) rotate(-1deg);
  bottom: -40px;
}

section:nth-of-type(2n + 1),
section:nth-of-type(2n +1)::after {
  background: var(--bleuLight);
}

section:nth-of-type(2n +1)::after {
  transform: skew(1.5deg) rotate(1.5deg);
  bottom: 0px;
}

main picture img {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 15em;
  object-position: center bottom;
}

/*  -------------------------------------------------------------- Timeline */
.timeline {
  position: relative;
  width: 100%;
  height: 33vh;
  overflow: hidden auto;
  padding: 0.3em 0.5em;
  background-color: white;
  background-image: linear-gradient(to right, transparent calc(1em - 3px), var(--grisLight) 0, var(--grisLight) calc(1em + 6px), transparent 0);
  background-position: top;
  background-size: 100% 100%;
}

.topic {
  position: relative;
  width: 80%;
  left: 2em;
  padding: 0.5em 0.8em;
  margin-top: 3em;
  border-radius: 6px;
  z-index: 3;
  background-color: var(--bleu2);
}
.topic p {
  margin-top: 0.4em;
}
.topic .date {
  position: absolute;
  display: inline-block;
  top: -2rem;
  width: 100%;
  margin-left: -1em;
  font-weight: 500;
  font-style: oblique;
  color: var(--pruneDark);
}
.topic::before, .topic::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.topic::before {
  width: 0;
  height: 0;
  left: -14px;
  border-style: solid;
  border-color: transparent var(--bleu2) transparent transparent;
  border-width: 8px 14px 8px 0;
}
.topic::after {
  width: 6px;
  height: 6px;
  left: calc(-2em + 3px);
  background-color: white;
  border: 3px solid var(--pruneDark);
  border-radius: 50%;
}

/*
---------------------------------------------------------------------------- CAROUSEL
*/
#gallery {
  width: 426px;
  height: 400px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.gallery-img {
  width: 100%;
  object-fit: cover;
  scroll-snap-align: start;
}

#navGal ul {
  list-style-type: none;
  background-color: #212121;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.3rem 0.6rem;
}

#navGal li,
#navGal a {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

#navGal a {
  background-image: url(../img/carousel/gallery-thumbs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.7);
  transition: all 0.5s;
}

#navGal a:hover,
#navGal a:focus,
#navGal a.selected {
  filter: brightness(1) sepia(1) hue-rotate(180deg);
  box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.85);
}

#navGal li:nth-of-type(1) a {
  background-position-x: calc(540 / 9 * -0px);
}

#navGal li:nth-of-type(2) a {
  background-position-x: calc(540 / 9 * -1px);
}

#navGal li:nth-of-type(3) a {
  background-position-x: calc(540 / 9 * -2px);
}

#navGal li:nth-of-type(4) a {
  background-position-x: calc(540 / 9 * -3px);
}

#navGal li:nth-of-type(5) a {
  background-position-x: calc(540 / 9 * -4px);
}

#navGal li:nth-of-type(6) a {
  background-position-x: calc(540 / 9 * -5px);
}

#navGal li:nth-of-type(7) a {
  background-position-x: calc(540 / 9 * -6px);
}

#navGal li:nth-of-type(8) a {
  background-position-x: calc(540 / 9 * -7px);
}

#navGal li:nth-of-type(9) a {
  background-position-x: calc(540 / 9 * -8px);
}

/*
---------------------------------------------------------------------------- FOOTER
*/
footer {
  background-color: var(--grisDark);
}
footer nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 4em;
  text-align: center;
  background-color: var(--vertDark);
}
footer nav a {
  padding: 0.4em 0.2em;
}
footer article {
  padding: 1em;
  color: white;
}
footer article ul {
  margin-left: 1.4em;
}
footer article [class^=icon-] {
  margin-left: -1.6em;
}
footer article h2 {
  margin-bottom: 0.8em;
}
footer article a {
  color: white;
}
footer article a:hover {
  text-decoration: underline;
}

#references li {
  margin-bottom: 0.25em;
}

/*
---------------------------------------------------------------------------- ANIMATION
*/
/* ----------------- A VOIR -------------


h1{
    font-size: 5rem;
    background-image: linear-gradient(to bottom, rgb(94, 145, 193), rgb(161, 12, 199));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
--------------------------  */