@import '_vars';


/* -------------------- TABLE
*   - VARIABLES
*   - GLOBAL
*   - CLASSES GLOBALES
*   - TYPOGRAPHIE
*   - HEADER
*   - MENU BAR
*   -- Burger
*   - MAIN
*   -- Scene3D
*   -- Timeline
*   - CAROUSEL
*   - FOOTER
*   - ANIMATION
*/

/*
---------------------------------------------------------------------------- VARIABLES
*/

:root {
    --fondPage:hsl(45, 21%, 93%);
    
    --bleuBase: hsl(206, 100%, 75%);
    --bleuLight: hsl(193, 100%, 91%);
    --bleu1: hsl(205, 59%, 57%);
    --bleu2: hsl(201, 76%, 37%);
    --bleuDark: hsl(203, 100%, 25%);
    
    --grisLight: hsl(211, 19%, 68%);
    --grisDark: hsl(210, 19%, 28%);
    
    --vertLight: hsl(171, 33%, 89%);
    --vertDark: hsl(173, 43%, 38%);
    
    --pruneLight: hsl(306, 30%, 48%);
    --pruneDark: hsl(326, 49%, 42%);
    
    --degMetal1: linear-gradient(75deg, var(--grisDark), var(--grisLight) 40%, var(--bleuLight) 60%, var(--grisDark));
    --degMetal2: linear-gradient(-40deg, var(--grisDark), var(--grisLight) 40%, var(--bleuLight) 60%, var(--grisDark));

    --rebond : cubic-bezier(.33, 0, .7, 1.5);

    --racine: .433; /* (racine de 3)/4: demi hauteur du triangle */
    --largCol: 16em;
    --largColHaut: calc((var(--largCol) * 13) / 26); /* rapport de la base au sommet */
}


/*
---------------------------------------------------------------------------- GLOBAL
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--fondPage);
}

img {
    display: block;
    max-width: 100%;
}

ul,
nav ul {
    list-style-type: none;
}

ul a{
    text-decoration: none;
    display: inline-block;
}

video{
    max-width: 100%;
    height: auto;
}

/* Liens externes */
a[rel *="external"]::after {
    content: '\f08e';
    display: inline-block;
    width: 1em;
    margin-left: .4em;
    font-family: "fontello";
    font-style: normal;
    font-size: 1em;
    line-height: 1em;
    vertical-align: middle;
    color: inherit;
    opacity: .6;
}


/*
---------------------------------------------------------------------- CLASSES GLOBALES
*/

.fluid{
    width: 100%;
    max-width: 1400px;
}


.smallCaps{
    font-variant: small-caps;
}

/*
---------------------------------------------------------------------------- TYPOGRAPHIE
*/
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 125;
}

h1,
h2{
    font-family: 'Righteous', sans-serif;
}

#menu nav a {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

section{
    h1{
        font-size: 1.8em;
        line-height: 1;
        margin-bottom: .4em;
    }
    
    &:nth-of-type(2n) h1{
        color: var(--vertDark);
        text-align: right;
    }

    &:nth-of-type(2n +1) h1{
        color: var(--bleuDark);
    }

    p{
       font-weight: 200;
       line-height: 1.4;
       font-size: 1em;
       color: var(--grisDark);
    }
}

.topic{
    h2{
        font-family: "Work Sans";
        font-weight: 500;
        font-size: 1em;
    }
    p{
        font-size: .8em;
        color: white;
    }
}

footer{
    h2{
        font-family: "Work Sans";
        font-style: oblique;
        font-weight: 400;
        font-size: 1.2em;
    }

    nav a{
        font-weight: 600;
        text-transform: uppercase;
        color: white;
    }
}
/*
---------------------------------------------------------------------------- HEADER
*/
header{
    width: 100%;
    height: auto;
    position: relative;
}

header picture img,
main picture img{
    object-fit: cover;
    width: 100%;
    height: inherit;
}

.hero{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    padding: 1em;
    background-color: hsla(0, 0%, 100%, .80);
    color: black;
    mix-blend-mode: screen;
    text-align: center;
    text-transform: uppercase;
}

.hero h1{
    font-size: 2em;
    line-height: 1;
}
.hero h2{
    font-family: "Work Sans", sans-serif;
    font-size: 1.95em;
    line-height: .8;
    font-weight: 300;
}

/*
---------------------------------------------------------------------------- MENU BAR
*/

#menu {
    position: sticky;
    width: 100%;
    height: auto;
    top: 0;
    text-align: center;
    z-index: 999;
}

#menu nav {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    background: var(--vertDark);
    width: 100%;
    height: auto;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}

nav ul {
    /* disposition menu items */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 5.2em;
}

#menu nav li {
    margin: 1em;
}

#menu nav a {
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

// #menu nav a:hover {
//     color: var(--pruneDark);
// }

/*  -------------------------------------------------------------- Burger */

.nav-toggle {
    position: absolute;
    top: 0;
    left: -100%;
}

.nav-toggle-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    width: 3.2em;
    height: 3.2em;
    margin: 1em 1em 0 0;
    border-radius: 1.6em;
    background: var(--vertDark);
}

.nav-toggle-label:hover {
    cursor: pointer;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    position: relative;
    display: block;
    height: 4px;
    width: 2em;
    background: white;
    border-radius: 2px;
    transition: transform 400ms var(--rebond);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 10px;
}

.nav-toggle-label span::after {
    top: 10px;
}

#menu .nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

#menu .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

/* animation burger */
#menu .nav-toggle:checked ~ .nav-toggle-label span{
    transform: rotate(45deg);
}

#menu .nav-toggle:checked ~ .nav-toggle-label span::before{
    transform: rotate(90deg) translate(10px);
}

#menu .nav-toggle:checked ~ .nav-toggle-label span::after{
    transform: rotate(90deg) translate(-10px);
}

/*
---------------------------------------------------------------------------- MAIN
*/

.contenu {
    background-color: white;
}

section{
    position: relative;
    padding: 8em 10vw;

    p{
        margin-bottom: 1em;
    }
}

section::after {
    content: "";
    display: block;
    position: absolute;
    height: 40px;
    width: 100%;
    left: 0;
    z-index: 10;
    transform-origin: bottom left;
}

section:nth-of-type(2n),
section:nth-of-type(2n)::after {
    background: var(--vertLight);
}

section:nth-of-type(2n)::after {
    transform: skew(-1deg) rotate(-1deg);
    bottom: -40px;
}

section:nth-of-type(2n + 1),
section:nth-of-type(2n +1)::after {
    background: var(--bleuLight);
}

section:nth-of-type(2n +1)::after {
    transform: skew(1.5deg) rotate(1.5deg);
    bottom: 0px;
}

main picture img {
    position: sticky;
    bottom: 0;
    z-index: -1;
    height: 15em;
    object-position: center bottom;
}

/*  -------------------------------------------------------------- Scene3D */
.animArche{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    perspective: 30em;
    perspective-origin: 50% 25%;
    margin: 10em auto 2em;

}

/* point perspective origin /
.animArche::after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    top: 25%;
    border: 4px solid green;
    border-radius: 50%;
    z-index: 1000;
}
*/
.scene {
    position: relative;
    width: 100%;
    height: 100%;
    transform:  rotateY(-20deg);
    transform-style: preserve-3d;
    text-rendering: optimizeLegibility;
    animation: animRotation 8s linear infinite paused;
}

.troncon,
.grass{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    transform-style: preserve-3d;
}

.tron2{
    transform: translate3d(calc(var(--largColHaut)/-2), -10em, -10em);
}

.side{
    position: absolute;
    top: 0;
    left: 0;
}

.tron1 .side1 {
    transform: translateZ(calc(var(--largCol) * var(--racine)));
}
.tron1 .side2 {
    transform: translateX(calc(var(--largCol) / 4)) rotateY(-60deg);
}
.tron1 .side3 {
    transform: translateX(calc(var(--largCol) / -4)) rotateY(60deg);
}


.tron2 .side1 {
    transform: translateY(calc(-1 * var(--largColHaut) * var(--racine))) rotateX(90deg);
}
.tron2 .side2 {
    transform: translateX(calc(var(--largColHaut) / 4)) rotateX(90deg) rotateY(-60deg);
}
.tron2 .side3 {
    transform: translateX(calc(var(--largColHaut) / -4)) rotateX(90deg) rotateY(240deg);
}

.tron1 .side{
    width: var(--largCol);
    height: calc(var(--largCol) / 3);
    background-image:   repeating-linear-gradient(to top, rgba(0, 0, 0, .125) 50%, transparent),
                        repeating-linear-gradient(to right, rgba(0, 0, 0, .125), transparent 33%),
                        var(--degMetal1);
}

.tron2 .side{
    width: var(--largColHaut);
    height: calc(var(--largColHaut) / 3);
    background-image:   linear-gradient(to top, rgba(0, 0, 0, .125), transparent),
                        repeating-linear-gradient(to right, rgba(0, 0, 0, .125), transparent 50%),
                        var(--degMetal2);
}

.larg {
    font-weight: 500;
    color: var(--pruneDark);
    text-align: center;
}

.tron1 .larg{
    transform: translateZ(calc(var(--largCol) * var(--racine))) translateY(-2em);
    width: var(--largCol);
}
.tron2 .larg{
    transform: translateY(calc(-1 * (var(--largColHaut) * var(--racine) + 1em)));
    width: var(--largColHaut);
}

.grass{
    width: var(--largCol);
    height: var(--largCol);
    transform-origin: top left;
    transform:  rotateX(90deg) 
                translate(-55%, -50%)
                translateZ(calc(var(--largCol) / -3))
                scale(1.1);
    background: var(--vertDark);
    border-radius: 3em;
}

#btnPlay {
    position: absolute;
    display: block;
    right: 6em;
    bottom: -2em;
    font-size: 2.5em;
    color: var(--pruneDark);
    z-index: 10;
}

/*  -------------------------------------------------------------- Timeline */

.timeline{
    width: 100%;
    height: 33vh;
    overflow: hidden auto;
    padding: .3em .5em;
    background-color: white;
    background-image: linear-gradient(to right, 
                transparent calc(1em - #{$larg-regle/2}),
                var(--grisLight) 0,
                var(--grisLight) calc(1em + #{$larg-regle}),
                transparent 0);
    background-position: top;
    background-size:  100% 100%;
}

.topic{
    position: relative;
    width: 80%;
    left: 2em;
    padding: .5em .8em;
    margin-top: 3em;
    border-radius: 6px;
    z-index: 3;
    background-color: var(--bleu2);

    &:last-of-type{
        margin-bottom: 3em;
    }

    p{
        margin-top: .4em;
    }

    .date{
        position: absolute;
        display: inline-block;
        top: -2em;
        width: 100%;
        margin-left: -1em;
        font-weight: 500;
        font-style: oblique;
        color: var(--pruneDark);
    }

    &::before,
    &::after{
        position: absolute;
        content: '';
        display: block;
        top: 50%;
        transform: translateY(-50%);
    }

    &::before{
        // la flèche
        width: 0;
        height: 0;
        left: -14px;
        border-style: solid;
        border-color: transparent var(--bleu2) transparent transparent;
        border-width: 8px 14px 8px 0;
    }

    &::after{
        // le point sur la règle
        width: $larg-point;
        height: $larg-point;
        left: calc(-2em + #{$larg-point/2});
        background-color: white;
        border: #{$larg-point/2} solid var(--pruneDark);
        border-radius: 50%;
    }
}
/*
---------------------------------------------------------------------------- CAROUSEL
*/
#gallery{
    width: 100%;
    max-width: 426px;
    height: 400px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.gallery-img{
    width: 100%;
    height: auto;
    object-fit: contain;
    scroll-snap-align: start;
}

#navGal {

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    ul{
        list-style-type: none;
        background-color: var(--grisDark);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }
    
    li,
    a{
        display: inline-block;
        border-radius: 4px;
    }
    
    li{
        justify-self: center;
        align-self: center;
        padding: .2em;
    }

    a{
        width: 60px;
        height: 60px;
        background-image: url(../img/carousel/gallery-thumbs.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(.7);
        transition: all .5s;
    }
    
    a:hover,
    a:focus,
    a.selected{
        filter: brightness(1) sepia(1) hue-rotate(180deg);
        box-shadow: 0 0 1px 2px hsla(0, 0%, 100%, 0.85);
    }
}

#navGal li:nth-of-type(1) a{
    background-position-x:calc(540 / 9 * -0px);
}
#navGal li:nth-of-type(2) a{
    background-position-x:calc(540 / 9 * -1px);
}
#navGal li:nth-of-type(3) a{
    background-position-x:calc(540 / 9 * -2px);
}
#navGal li:nth-of-type(4) a{
    background-position-x:calc(540 / 9 * -3px);
}
#navGal li:nth-of-type(5) a{
    background-position-x:calc(540 / 9 * -4px);
}
#navGal li:nth-of-type(6) a{
    background-position-x:calc(540 / 9 * -5px);
}
#navGal li:nth-of-type(7) a{
    background-position-x:calc(540 / 9 * -6px);
}
#navGal li:nth-of-type(8) a{
    background-position-x:calc(540 / 9 * -7px);
}
#navGal li:nth-of-type(9) a{
    background-position-x:calc(540 / 9 * -8px);
}

/*
---------------------------------------------------------------------------- FOOTER
*/
footer{
    background-color: var(--grisDark);

    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height: 4em;
        text-align: center;
        background-color: var(--vertDark);
    }

    nav a{
        padding: .4em .2em;
    }

    article{
        padding: 1em;
        color: white;

        ul{
            margin-left: 1.4em;
        }

        [class^="icon-"]{
            margin-left: -1.6em;
        }

        h2{
            margin-bottom: .8em;
        }

        a{
            color: white;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
#references li{
    margin-bottom: .25em
}

/*
---------------------------------------------------------------------------- ANIMATION
*/


@keyframes animRotation {
    from {
        transform: rotateY(-20deg);
    }
    
    to {
        transform: rotateY(-380deg);
    }
}
