/* Responsive shit */

/* -------------------- Medium devices (tablets, 768px and up) -------------------- */
@media (min-width: 768px) {
    .nav-toggle-label {
        display: none;
    }

    #menu{
        background: var(--vertDark);
    }

    #menu nav {
        all: unset; /* RàZ des déclarations précédentes */
    }
    
    #menu nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: initial
    }

    #menu nav a {
        opacity: 1;
        position: relative;
    }

    #menu nav a::after {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        right: 0;
        left: 0;
        bottom: -.75em;
        background: var(--pruneDark);
        transform: scale(0, 1);
        transition: transform var(--rebond) 250ms;
    }

    #menu nav a:hover::after,
    #menu nav a:focus::after,
    #menu nav a.selected::after {
        transform: scale(1, 1);
    }
}

/* -------------------- Large devices (desktops, 992px and up) -------------------- */
@media (min-width: 992px) {
    
}

/* -------------------- Extra large devices (large desktops, 1200px and up  ------- */
@media (min-width: 1200px) {
    .fluid{
        max-width: 1400px;
        margin: auto;
    }
}